.player-current-box {
    background-color: rgba(148, 51, 122, 0.74);
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.player-current-score {
    font-size: 30px;
}